{
  "all": false,
  "cache": false,
  "temp-dir": "./reports/nyc_output",
  "check-coverage": false,
  "sourceMap": true,
  "instrument": true,
  "extends": "@istanbuljs/nyc-config-typescript",
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "exclude": [
    "dist/",
    "reports/",
    "src/**/*.test.ts",
    "src/**/*.test.tsx",
    "stryker.conf.js"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "reporter": [
    "cobertura",
    "lcov",
    "html"
  ],
  "watermarks": {
    "statements": [50, 80],
    "lines": [50, 80],
    "functions": [50, 80],
    "branches": [50, 80]
  }
}
